fastapi==0.135.1
uvicorn==0.42.0

numpy==2.0.2
opencv-python-headless==4.10.0.84
pillow==10.4.0

torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0

tensorflow==2.15.0

pydantic==2.12.5
python-multipart==0.0.22

requests==2.32.5